<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>angular-editor</title>
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="stylesheets/simditor.css" />
	<link rel="stylesheet" href="stylesheets/font-awesome.css" />

	<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/angular.js/1.3.0-beta.3/angular.min.js"></script>
	<script src="javascripts/simditor/simditor-all.js"></script>
	<script src="javascripts/directives/doc_directive.js"></script>
	<script src="javascripts/application.js"></script>
	<style type="text/css">
		.header h2{font-size:16px;font-weight: normal;}
		.header p span,.header p pre{display:inline-block;float: left;line-height: 40px;}
	</style>
</head>
<body>
<div class="container header">
	<h1>angular-editor</h1>
	<h2>angular rich text editor with simditor(by <a href="http://tower.im">tower.im</a>)</h2>
	<p>
		<span>just one line to write:</span><pre style="width:500px;">&lt;div simditor ng-model="xxx"&gt;&lt;/div&gt;</pre>
	</p>
</div>
<div class="container" ng-controller="mainController">
	<div simditor ng-model="editor"></div>
</div>
<div class="container">Happy wife,happy life.</div>
</body>
</html>